People.Desktop/Service References/PeopleService/PeopleService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDto" nillable="true" type="tns:PersonDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDto" nillable="true" type="tns:ArrayOfPersonDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDto" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="AddressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppartmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDto" nillable="true" type="tns:AddressDto" />
</xs:schema>