People.Desktop/Service References/PeopleService/PeopleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonNotFoundFault" nillable="true" type="tns:PersonNotFoundFault" />
</xs:schema>