People.Desktop/Service References/PeopleService/PeopleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeopleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59876/PeopleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59876/PeopleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59876/PeopleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto" />
      <xsd:import schemaLocation="http://localhost:59876/PeopleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto.Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleService_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_EditPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_EditPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_EditPerson_PersonNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto.Faults" name="detail" element="q1:PersonNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_DeletePerson_PersonNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/People.Service.Contract.Dto.Faults" name="detail" element="q2:PersonNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPeopleXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleXML" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPeopleXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeopleService">
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetPeople" message="tns:IPeopleService_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetPeopleResponse" message="tns:IPeopleService_GetPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/AddPerson" message="tns:IPeopleService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/AddPersonResponse" message="tns:IPeopleService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/EditPerson" message="tns:IPeopleService_EditPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/EditPersonResponse" message="tns:IPeopleService_EditPerson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPeopleService/EditPersonPersonNotFoundFaultFault" name="PersonNotFoundFaultFault" message="tns:IPeopleService_EditPerson_PersonNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/DeletePerson" message="tns:IPeopleService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/DeletePersonResponse" message="tns:IPeopleService_DeletePerson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPeopleService/DeletePersonPersonNotFoundFaultFault" name="PersonNotFoundFaultFault" message="tns:IPeopleService_DeletePerson_PersonNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeopleXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetPeopleXML" message="tns:IPeopleService_GetPeopleXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetPeopleXMLResponse" message="tns:IPeopleService_GetPeopleXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeopleService" type="tns:IPeopleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPeople">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/EditPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PersonNotFoundFaultFault">
        <soap:fault use="literal" name="PersonNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PersonNotFoundFaultFault">
        <soap:fault use="literal" name="PersonNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPeopleXML">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetPeopleXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleService">
    <wsdl:port name="BasicHttpBinding_IPeopleService" binding="tns:BasicHttpBinding_IPeopleService">
      <soap:address location="http://localhost:59876/PeopleService.svc/base" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>